:root{
    --cor-fundo-menu: rgb(0, 36, 54);
    --cor-laranja-az: rgb(239, 78, 35);
}
.bg{
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.35;
    position: absolute;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Tomorrow', serif;
}
.menulateral{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--cor-fundo-menu);
    transition: 0.2s all ease;
}
.menulateral .listamenu{
    display: flex;
    flex-flow: column;
    list-style-type: none;
    justify-content: space-between;
}
/*AJUSTE VETOR DA LOGO AZ MERIT*/
.menulateral .listamenu .logoazmerit{
/* AZ merit */
    position: relative;
    margin-left: -15px;
}
.menulateral .listamenu .itemlista{
    margin-top: 50px;
    padding-top: auto;
    width: 100%;
}
.menulateral .listamenu .itemlista .itemmenu{
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    cursor: pointer;
    width: 100%;
}
.menulateral .listamenu .itemlista .itemmenu .textoicon{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    padding: 2px 15px;
    margin-left: 50px;
    border-radius: 30px;
}
.menulateral .listamenu .itemlista .itemmenu .icon{
    width: 25px;
    height: 25px;
}


/*Propriedades do hover*/
.menulateral .listamenu .itemlista .itemmenu:hover{
    color: var(--cor-laranja-az);
}
.menulateral .listamenu .itemlista .itemmenu:hover .pathicon{
    fill: var(--cor-laranja-az);
}


/*Tamanho das Ondas*/
.menulateral .logout_div{
    position: relative;
    height: 100vh;
    margin-top: 50px;
    overflow: hidden;
}

/*Estilo das Ondas https://www.cssscript.com/animated-waves-svg/*/
.logout_div .waves{
    position: relative;
    height: 10vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 550px;
}

.parallax > use{
    animation: move-forever 10s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1){
    animation-delay: -1s;
    animation-duration: 10s;
}
.parallax > use:nth-child(2){
    animation-delay: -7s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3){
    animation-delay: -5s;
    animation-duration: 10s;
}
@keyframes move-forever{
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
  /*Shrinking for mobile*/
@media (max-width: 768px){
    .waves {
        height:40px;
        min-height:40px;
    }
}

.logout_div .boxlogout{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-laranja-az);
}
.logout_div .boxlogout .itemlogout{
    position: fixed;
    margin-left: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    cursor: pointer;
    width: 100%;
    bottom: 5%;
}
.logout_div .boxlogout .itemlogout .iconlogout{
    width: 25px;
    height: 25px;
}
.logout_div .boxlogout .itemlogout .textologout{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    padding: 2px 15px;
    margin-left: 50px;
    border-radius: 30px;
}



/*CABEÇALHO*/
.cabecalho{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    height: 100px;
    margin-left: 250px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--cor-laranja-az);
}
/*CAIXA COM FOTO E NOME DO USUÁRIO*/
.cabecalho .user_box{
    position: fixed;
    right: 0;
    padding-top: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cabecalho .user_box .nome_user{
    font-size: 1rem;
    font-weight: bold;
}
.cabecalho .user_box .img_user{
    width: 84px;
    height: 84px;
    padding-left: 10px;
    border-radius: 50%;
}
/*CAIXA QUE INDICA PÁGINA ATUAL*/
.tela_atual{
    margin-top: 70px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}
/*RODAPÉ*/
.rodape{
    left: 40%;
    bottom: 0%;
    z-index: 0;
    opacity: 0.35;
    padding: auto;
    font-size: 14px;
    position: absolute;
    text-align: center;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}


/* Painel Principal */
.posicao_boneco{
    display: flex;
    flex-direction: row;
    z-index: 5;
    margin-left: 320px;
    margin-top: 5%;
    position: fixed;
    width: 80vw;
    height: 75vh;
}

.posicao_boneco .boneco{
    position: relative;
    width: 12%;
    height: 35%;
}

.posicao_boneco .menu_painel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #d9d9d9b9;
    border-radius: 50px;
    margin-left: -33px;
}

.posicao_boneco .menu_painel .botoes-painel .iniciar{
margin: 10%;
width: 30%;
height: 60px;
border-radius: 30px;
background-color: var(--cor-laranja-az);
font-size:20px;
padding: 1px 1px 1px;
justify-items: center;
color:#fff ;
border-color: transparent;
}

.posicao_boneco .menu_painel .botoes-painel .salvar{
margin: 5%;
width: 30%;
height: 60px;
border-radius: 30px;
background-color: var(--cor-laranja-az);
font-size:20px;
padding: 1px 1px 1px;
color: #fff;
border-color: transparent;
}



.menu_painel .caixa-input .userbox {
  position: relative;
  margin-top:  10%;
}



.posicao_boneco .menu_painel .userbox input{
  width: 90%;
  padding: 13px 0;
  font-size: 16px;
  color: var(--cor-laranja-az);
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid #BFBFBF;
  outline: none;
  background: transparent;
  margin-left: 5%;
}

.posicao_boneco .menu_painel .userbox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--cor-laranja-az);
    pointer-events: none;
    transition: .5s;
    margin: 5% ;
    margin-top: 0%;
}
  
.posicao_boneco .menu_painel .userbox input:focus ~ label,
.posicao_boneco .menu_painel .userbox input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--cor-laranja-az);
    font-size: 12px;
}



/*DATA INICIO*/
.posicao_boneco .menu_painel .botoes-data .data-inicio{
  margin-left: 10.4%;
  background-color: #FFFFFF;
  height: 56px;
  width: 250px;
  border-radius: 30px;
}
.posicao_boneco .menu_painel .botoes-data .data-inicio .input-data-inicio{
  border-color: transparent;
  width: 80%;
  height: 90%;
  font-size: 25px;
  border-color: transparent;
}

/*DATA FIM*/
.posicao_boneco .menu_painel .botoes-data .data-fim{
  margin-left: 30%;
  background-color: #FFFFFF;
  height: 56px;
  width: 250px;
  border-radius: 30px;
  border-color: transparent;
}
.posicao_boneco .menu_painel .botoes-data .data-fim .input-data-fim{
  border: none;
  width: 80%;
  height: 90%;
  font-size: 25px;
}


/*Input das Moedas*/
.posicao_boneco .menu_painel .quantidade-azmerit{
    margin-left: 11%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
}

.posicao_boneco .menu_painel .quantidade-azmerit .titulo-quantidade{
    font-size: 20px;
}
.posicao_boneco .menu_painel .quantidade-azmerit div .moeda{
    position: relative;
    width: 50px;
    height: 52px;
    top: 20%;
}

.posicao_boneco .menu_painel .quantidade-azmerit div .input-quantidade{
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: var(--cor-laranja-az);
  background-color: rgb(255, 255, 255);
  border-color: transparent;
  margin-left:1% ;
}   
.posicao_boneco .menu_painel .botoes-painel{
    

}
