.bg{
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.35;
    position: absolute;
    pointer-events: none;
}

/*Propriedades do Menu Lateral*/
.menulateral{
    border-right-style: solid;
    border-right-color: var(--cor-laranja-az) ;
    border-right-width: 2px;
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--cor-fundo-menu);
}

/*Propriedades da Lista Menu*/
.menulateral .listamenu{
    gap: 3.5vh;
    display: flex;
    flex-flow: column;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 40px;
    position: relative;
}

/*Propriedades do SVG AzMerit*/
.menulateral .listamenu .logoazmerit{
    margin-top: 4vh;
    position: relative;
    margin-left: -15px;
}
.menulateral .listamenu .logoazmerit #logoazmerit{
    align-items: center;
    display: flex;
    transition: width 0.5s;
}
.menulateral .listamenu .logoazmerit #logoazmerit .path_merit{
    padding-bottom: 4px;
    padding-left: 7px;
}

/*Propriedades dos itens da lista*/
.menulateral .listamenu .itemlista{
    width: 100%;
}
.menulateral .listamenu .itemlista .itemmenu{
    align-items: center;
    display: flex;
    cursor: pointer;
}
.menulateral .listamenu .itemlista .itemmenu .textoicon{
    color: white;
    text-decoration: none;
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    padding: 2px 15px;
    margin-left: 50px;
}
.menulateral .listamenu .itemlista .itemmenu .icon{
    width: 25px;
    height: 25px;
}

/*Propriedades do hover dos itens*/
.menulateral .listamenu .itemlista .itemmenu:hover .pathicon{
    fill: var(--cor-laranja-az);
}
.menulateral .listamenu .itemlista .itemmenu:hover .textoicon{
    color: var(--cor-laranja-az);
}

/*Propriedades do hover de Cadastrar*/
.menulateral .listamenu .itemlista .cadastrar:hover{
    color: var(--cor-laranja-az);
}
.menulateral .listamenu .itemlista .cadastrar:hover .pathicon{
    fill: var(--cor-laranja-az);
}
.menulateral .listamenu .itemlista .cadastrar:hover .setabaixo path,
.menulateral .listamenu .itemlista .cadastrar:hover .setabaixo2 path{
    fill: var(--cor-laranja-az);
}

/*Botão Cadastrar*/
.menulateral .listamenu .itemlista .cadastrar{
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    cursor: pointer;
    width: 100%;
}
.menulateral .listamenu .itemlista .cadastrar .textoicon{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    padding: 2px 15px;
    margin-left: 50px;
}
.menulateral .listamenu .itemlista .cadastrar .icon{
    width: 25px;
    height: 25px;
}
.menulateral .listamenu .itemlista .cadastrar .setabaixo,
.menulateral .listamenu .itemlista .cadastrar .setabaixo2{
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    display: flex;
    width: 25px;
    height: 25px;
    position: absolute;
    font-size: 22px;
    right: 10px;
    margin-top: 30px;
}
.menulateral .listamenu .itemlista .cadastrar .setabaixo.rotate,
.menulateral .listamenu .itemlista .cadastrar .setabaixo2.rotate{
    transform: translateY(-50%) rotate(-180deg);
}

/*Tamanho das Ondas*/
.menulateral .logout_div{
    z-index: 5;
    height: 100vh;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
}

/*Propriedades das Ondas https://www.cssscript.com/animated-waves-svg/*/
.logout_div .waves{
    position: relative;
    height: 10vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 550px;
}
.parallax > use{
    animation: move-forever 10s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1){
    animation-delay: -1s;
    animation-duration: 10s;
}
.parallax > use:nth-child(2){
    animation-delay: -7s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3){
    animation-delay: -5s;
    animation-duration: 10s;
}
@keyframes move-forever{
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
  /*Shrinking for mobile*/
@media (max-width: 768px){
    .waves {
        height:40px;
        min-height:40px;
    }
}
.logout_div .boxlogout{
    position: relative;
    height: auto;
    min-height: 100%;
    width: 100vw;
    background-color: var(--cor-laranja-az);
}
.logout_div .boxlogout .itemlogout{
    position: fixed;
    margin-left: 40px;
    text-decoration: none;
    color: white;
    align-items: center;
    display: flex;
    cursor: pointer;
    bottom: 3%;
}
.logout_div .boxlogout .itemlogout .iconlogout{
    width: 25px;
    height: 25px;
}
.logout_div .boxlogout .itemlogout .textologout{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    padding: 2px 15px;
    margin-left: 50px;
}

/*Propriedades do Cabeçalho*/
.cabecalho{
    display: flex;
    z-index: 1;
    align-items: center;
    height: 100px;
    margin-left: 250px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--cor-laranja-az);
}

/*Propriedades da área do usuário*/
.cabecalho .user_box{
    position: fixed;
    right: 0;
    padding-top: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cabecalho .user_box .nome_user{
    font-size: 1rem;
    font-weight: bold;
}
.cabecalho .user_box .img_user{
    width: 84px;
    height: 84px;
    margin-left: 10px;
    border-radius: 50%;
}
.cabecalho .tela_atual{
    margin-top: 70px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

/*Propriedades do Rodapé*/
.rodape{
    left: 45%;
    bottom: 0%;
    z-index: 1;
    opacity: 0.35;
    padding: auto;
    font-size: 14px;
    position: absolute;
    text-align: center;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
/*Propriedades do Sub Menu*/
.itemlista .submenu,
.itemlista .submenu2{
    display: none;
}
.itemlista .submenu.show,
.itemlista .submenu2.show{
    display: flex;
    gap: 3.5vh;
    margin-left: 65px;
    padding-top: 25px;
    flex-flow: column;
    list-style-type: none;
    justify-content: space-between;
}
.itemlista .submenu.show .textosub,
.itemlista .submenu2.show .textosub{
    color: white;
    text-decoration: none;
    position: absolute;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 2px 15px;
    margin-left: 10px;
}
.itemlista .submenu.show li a:hover .textosub,
.itemlista .submenu2.show li a:hover .textosub{
    color: var(--cor-laranja-az);
}
.itemlista .submenu.show li a:hover .pathicon,
.itemlista .submenu2.show li a:hover .pathicon{
    fill: var(--cor-laranja-az);
}

/*Configurações do Site Responsivo*/
@media only screen and (max-width: 768px){
    .menulateral.closed{
        width: 80px;
    }
    .menulateral.closed .listamenu .logoazmerit{
        margin-left: -25px;
    }
    .menulateral.closed .listamenu .logoazmerit #logoazmerit .path_az{
        width: 55px;
    }
    .menulateral.closed .listamenu .logoazmerit #logoazmerit .path_merit{
        display: none;
    }
    .menulateral.closed .textoicon{
        opacity: 0;
        display: none;
    }
    .menulateral.closed .listamenu .itemlista .cadastrar .setabaixo,
    .menulateral.closed .listamenu .itemlista .cadastrar .setabaixo2{
        display: none;
    }

    /*Faz o resto da tela ficar escuro*/
    .menulateral .menuabertomobile{
        z-index: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        margin-left: 250px; /*2px a mais por conta da borda*/
        width: 100vw;
        background-color: black;
        height: 100vh;
        opacity: 0.4;
        animation: fadeIn 3s;
    }
    .menulateral.closed .menuabertomobile{
        display: none;
    }
    @keyframes fadeIn {
        from { opacity: 0; }
          to { opacity: 0.4; }
    }

    .cabecalho{
        margin-left: 80px;
        height: 80px;
    }
    .cabecalho .user_box .img_user{
        width: 65px;
        height: 65px;
    }
    .cabecalho .tela_atual{
        margin-top: 0;
        max-width: 200px;
    }
    .cabecalho .tela_atual span{
        text-align: justify;
    }
    .menulateral .listamenu .itemlista{
        margin-left: -15px;
    }
    .menulateral.closed .listamenu .itemlista{
        pointer-events: none;
    }
    .logout_div .boxlogout .itemlogout{
        margin-left: 30px;
    }
    .menulateral.closed .logout_div .boxlogout .itemlogout .textologout{
        display: none;
    }
    .rodape{
        left: 25%;
        padding-right: 20px;
    }
}

/*
https://www.codingnepalweb.com/side-menu-bar-with-sub-menu-javascript/
https://www.youtube.com/watch?v=O9l75KOB2pE
https://stackoverflow.com/questions/70827887/detect-click-vs-touch-in-javascript
*/

.caixa-botao-voltar #botao-voltar{
    display: flex;
    background-color: rgba(215, 91, 54, 1);
    font-family: 'Tomorrow', sans-serif;
    justify-content: flex-end;
    border-radius: 15px;
    width: 60%;
    color: white;
    font-style: normal;
    border: none;
    align-items: center;
}
.caixa-botao-voltar #botao-voltar:hover{
    cursor: pointer;
}
/*Posição do Botão*/
.caixa-botao-voltar #caixa-botao-voltar{
    display: flex;
    margin-left: 90%;
    margin-top: 8%;
/*Fim posição do botão*/
}
.caixa-botao-voltar #img-botao-voltar{
    display: flex;
    width: 30%;
    padding: 2%;
}
.caixa-botao-voltar #texto-voltar{
    margin-right: 10%;
}
